# 1

XGBoost is an implementation of gradient boosted decision trees designed for speed and performance.

In [237]:
from xgboost import XGBClassifier 
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score 
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [185]:
df = pd.read_csv("../data/student-mat.csv")
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [186]:
X = df.drop(columns=["Fjob"])
X

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,reason,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,course,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,course,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,home,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,home,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,course,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,course,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,course,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,course,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,course,...,3,2,3,3,3,5,5,8,9,9

In [189]:
y = df[["Fjob"]]
y

         Fjob
0     teacher
1       other
2       other
3    services
4       other
..        ...
390  services
391  services
392     other
393     other
394   at_home

[395 rows x 1 columns]

### Ejemplo encoder 1 -- Menos usado

No ejecutar todo seguido porque esto cambia el resultado posterior. 

Es un ejemplo, no forma parte del ejercicio. DespuÃ©s seguiremos con Ã©l.

In [162]:
def encoder_serie(serie):
    encoder = {}
    for i, x in enumerate(serie):
        if not (x in encoder):
            encoder[x] = i
    serie = serie.map(encoder)
    return serie, encoder
        
serie, encoder = encoder_serie(serie=y["Mjob"])
print(serie)
print(encoder)

0      0
1      0
2      0
3      3
4      4
      ..
390    5
391    5
392    4
393    5
394    4
Name: Mjob, Length: 395, dtype: int64
{'at_home': 0, 'health': 3, 'other': 4, 'services': 5, 'teacher': 10}

In [188]:
serie_Fjob, encoder_Fjob = encoder_serie(serie=y["Fjob"])
y["Fjob"] = serie_Fjob
y

     Fjob
0       0
1       1
2       1
3       3
4       1
..    ...
390     3
391     3
392     1
393     1
394    32

[395 rows x 1 columns]

### Ejemplo encoder 2 mÃ¡s usado

No ejecutar todo seguido porque esto cambia el resultado posterior. 

Es un ejemplo, no forma parte del ejercicio. DespuÃ©s seguiremos con Ã©l.

In [101]:
le_Mjob = LabelEncoder()
le.fit(y["Mjob"])
list(le.classes_)

['at_home', 'health', 'other', 'services', 'teacher']

In [105]:
m_job = le.transform(y["Mjob"])
m_job

array([0, 0, 0, 1, 2, 3, 2, 2, 3, 2, 4, 3, 1, 4, 2, 1, 3, 2, 3, 1, 4, 1,
       4, 2, 3, 3, 2, 1, 3, 4, 1, 3, 4, 2, 2, 2, 4, 2, 3, 0, 2, 4, 3, 3,
       2, 2, 2, 1, 4, 3, 3, 1, 1, 3, 2, 2, 3, 4, 2, 3, 1, 3, 2, 4, 3, 4,
       2, 3, 1, 2, 2, 2, 2, 2, 2, 4, 4, 2, 2, 0, 2, 2, 3, 3, 2, 3, 0, 2,
       3, 4, 2, 3, 2, 4, 3, 0, 3, 2, 2, 2, 3, 3, 3, 3, 3, 2, 2, 3, 2, 1,
       4, 3, 0, 4, 1, 4, 2, 2, 2, 2, 0, 3, 2, 1, 2, 3, 2, 0, 3, 4, 3, 0,
       2, 3, 0, 3, 0, 2, 3, 4, 4, 3, 4, 0, 2, 2, 1, 0, 4, 3, 2, 0, 3, 3,
       2, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 3, 2, 1, 2, 1, 2, 2, 4, 0, 2, 4,
       3, 2, 4, 2, 4, 3, 3, 2, 2, 3, 3, 2, 1, 0, 3, 0, 0, 3, 2, 3, 3, 4,
       3, 4, 1, 2, 2, 2, 3, 0, 3, 4, 0, 4, 2, 3, 2, 3, 3, 2, 2, 3, 0, 0,
       0, 0, 3, 2, 4, 2, 2, 3, 0, 2, 1, 2, 4, 1, 2, 0, 2, 2, 0, 2, 1, 4,
       4, 3, 2, 2, 2, 3, 2, 2, 3, 0, 3, 2, 2, 1, 4, 3, 2, 3, 3, 4, 2, 2,
       0, 2, 3, 4, 1, 2, 2, 2, 2, 0, 0, 3, 2, 4, 1, 4, 3, 4, 0, 2, 2, 2,
       0, 3, 3, 4, 4, 1, 3, 3, 3, 1, 1, 2, 2, 4, 1, 2, 2, 1, 2, 3, 3, 4,
       2, 0, 3, 0, 2, 3, 0, 2, 3, 2, 0, 4, 3, 2, 3, 3, 0, 2, 2, 3, 4, 4,
       2, 0, 3, 2, 0, 3, 3, 2, 3, 2, 3, 4, 3, 0, 0, 2, 4, 4, 1, 2, 2, 1,
       0, 2, 3, 3, 4, 3, 2, 0, 0, 0, 3, 0, 2, 0, 4, 2, 0, 2, 3, 0, 2, 2,
       2, 2, 1, 4, 2, 0, 4, 2, 2, 2, 2, 0, 4, 3, 4, 2, 3, 3, 2, 3, 2])

In [190]:
print(list(le.inverse_transform(m_job)))

['at_home', 'at_home', 'at_home', 'health', 'other', 'services', 'other', 'other', 'services', 'other', 'teacher', 'services', 'health', 'teacher', 'other', 'health', 'services', 'other', 'services', 'health', 'teacher', 'health', 'teacher', 'other', 'services', 'services', 'other', 'health', 'services', 'teacher', 'health', 'services', 'teacher', 'other', 'other', 'other', 'teacher', 'other', 'services', 'at_home', 'other', 'teacher', 'services', 'services', 'other', 'other', 'other', 'health', 'teacher', 'services', 'services', 'health', 'health', 'services', 'other', 'other', 'services', 'teacher', 'other', 'services', 'health', 'services', 'other', 'teacher', 'services', 'teacher', 'other', 'services', 'health', 'other', 'other', 'other', 'other', 'other', 'other', 'teacher', 'teacher', 'other', 'other', 'at_home', 'other', 'other', 'services', 'services', 'other', 'services', 'at_home', 'other', 'services', 'teacher', 'other', 'services', 'other', 'teacher', 'services', 'at_home', 'services', 'other', 'other', 'other', 'services', 'services', 'services', 'services', 'services', 'other', 'other', 'services', 'other', 'health', 'teacher', 'services', 'at_home', 'teacher', 'health', 'teacher', 'other', 'other', 'other', 'other', 'at_home', 'services', 'other', 'health', 'other', 'services', 'other', 'at_home', 'services', 'teacher', 'services', 'at_home', 'other', 'services', 'at_home', 'services', 'at_home', 'other', 'services', 'teacher', 'teacher', 'services', 'teacher', 'at_home', 'other', 'other', 'health', 'at_home', 'teacher', 'services', 'other', 'at_home', 'services', 'services', 'other', 'at_home', 'other', 'at_home', 'at_home', 'other', 'at_home', 'other', 'other', 'at_home', 'other', 'services', 'other', 'health', 'other', 'health', 'other', 'other', 'teacher', 'at_home', 'other', 'teacher', 'services', 'other', 'teacher', 'other', 'teacher', 'services', 'services', 'other', 'other', 'services', 'services', 'other', 'health', 'at_home', 'services', 'at_home', 'at_home', 'services', 'other', 'services', 'services', 'teacher', 'services', 'teacher', 'health', 'other', 'other', 'other', 'services', 'at_home', 'services', 'teacher', 'at_home', 'teacher', 'other', 'services', 'other', 'services', 'services', 'other', 'other', 'services', 'at_home', 'at_home', 'at_home', 'at_home', 'services', 'other', 'teacher', 'other', 'other', 'services', 'at_home', 'other', 'health', 'other', 'teacher', 'health', 'other', 'at_home', 'other', 'other', 'at_home', 'other', 'health', 'teacher', 'teacher', 'services', 'other', 'other', 'other', 'services', 'other', 'other', 'services', 'at_home', 'services', 'other', 'other', 'health', 'teacher', 'services', 'other', 'services', 'services', 'teacher', 'other', 'other', 'at_home', 'other', 'services', 'teacher', 'health', 'other', 'other', 'other', 'other', 'at_home', 'at_home', 'services', 'other', 'teacher', 'health', 'teacher', 'services', 'teacher', 'at_home', 'other', 'other', 'other', 'at_home', 'services', 'services', 'teacher', 'teacher', 'health', 'services', 'services', 'services', 'health', 'health', 'other', 'other', 'teacher', 'health', 'other', 'other', 'health', 'other', 'services', 'services', 'teacher', 'other', 'at_home', 'services', 'at_home', 'other', 'services', 'at_home', 'other', 'services', 'other', 'at_home', 'teacher', 'services', 'other', 'services', 'services', 'at_home', 'other', 'other', 'services', 'teacher', 'teacher', 'other', 'at_home', 'services', 'other', 'at_home', 'services', 'services', 'other', 'services', 'other', 'services', 'teacher', 'services', 'at_home', 'at_home', 'other', 'teacher', 'teacher', 'health', 'other', 'other', 'health', 'at_home', 'other', 'services', 'services', 'teacher', 'services', 'other', 'at_home', 'at_home', 'at_home', 'services', 'at_home', 'other', 'at_home', 'teacher', 'other', 'at_home', 'other', 'services', 'at_home', 'other', 'other', 'other', 'other', 'health', 'teacher', 'other', 'at_home', 'teacher', 'other', 'other', 'other', 'other', 'at_home', 'teacher', 'services', 'teacher', 'other', 'services', 'services', 'other', 'services', 'other']

# Usamos encoder 2

In [191]:
le_Fjob = LabelEncoder()
le_Fjob.fit(y["Fjob"])
y["Fjob"] = le_Fjob.transform(y["Fjob"])

In [192]:
y

     Fjob
0       4
1       2
2       2
3       3
4       2
..    ...
390     3
391     3
392     2
393     2
394     0

[395 rows x 1 columns]

In [193]:
df.select_dtypes('object').columns.tolist()

['school',
 'sex',
 'address',
 'famsize',
 'Pstatus',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic']

In [194]:
# Encode all columns
X_categorical_no_numbers = X[X.select_dtypes('object').columns].apply(LabelEncoder().fit_transform)
X_categorical_no_numbers

,school,sex,address,famsize,Pstatus,Mjob,reason,guardian,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic
0,0,0,1,0,0,0,0,1,1,0,0,0,1,1,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,1,1,0
2,0,0,1,1,1,0,2,1,1,0,1,0,1,1,1,0
3,0,0,1,0,1,1,1,1,0,1,1,1,1,1,1,1
4,0,0,1,0,1,2,1,0,0,1,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,1,1,0,3,0,2,0,1,1,0,1,1,0,0
391,1,1,1,1,1,3,0,1,0,0,0,0,0,1,1,0
392,1,1,0,0,1,2,0,2,0,0,0,0,0,1,0,0
393,1,1,0,1,1,3,0,1,0,0,0,0,0,1,1,0
394,1,1,1,1,1,2,0,0,0,0,0,0,1,1,1,0

In [195]:
X_others = X.select_dtypes(exclude=['object'])
X_others

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6,6
1,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5,6
2,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8,10
3,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14,15
4,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,20,2,2,1,2,2,5,5,4,4,5,4,11,9,9,9
391,17,3,1,2,1,0,2,4,5,3,4,2,3,14,16,16
392,21,1,1,1,1,3,5,5,3,3,3,3,3,10,8,7
393,18,3,2,3,1,0,4,4,1,3,4,5,0,11,12,10
394,19,1,1,1,1,0,3,2,3,3,3,5,5,8,9,9

In [196]:
X = pd.concat([X_categorical_no_numbers,X_numbers], axis=1)
X

,school,sex,address,famsize,Pstatus,Mjob,reason,guardian,schoolsup,famsup,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,1,0,0,0,0,1,1,0,...,4,3,4,1,1,3,6,5,6,6
1,0,0,1,0,1,0,0,0,0,1,...,5,3,3,1,1,3,4,5,5,6
2,0,0,1,1,1,0,2,1,1,0,...,4,3,2,2,3,3,10,7,8,10
3,0,0,1,0,1,1,1,1,0,1,...,3,2,2,1,1,5,2,15,14,15
4,0,0,1,0,1,2,1,0,0,1,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,1,1,0,3,0,2,0,1,...,5,5,4,4,5,4,11,9,9,9
391,1,1,1,1,1,3,0,1,0,0,...,2,4,5,3,4,2,3,14,16,16
392,1,1,0,0,1,2,0,2,0,0,...,5,5,3,3,3,3,3,10,8,7
393,1,1,0,1,1,3,0,1,0,0,...,4,4,1,3,4,5,0,11,12,10
394,1,1,1,1,1,2,0,0,0,0,...,3,2,3,3,3,5,5,8,9,9

In [197]:
y.values.shape

(395, 1)

In [201]:
X = X.values
y = y.values

In [232]:
seed = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=seed)

In [233]:
model = XGBClassifier() 
model.fit(X_train, y_train) 
#Make predictions for test data 
y_pred = model.predict(X_test)
y_pred.shape

(131,)

In [236]:
model.score(X_test, y_test)

0.5343511450381679