   #                                                  Titanic Exercise 
   #### Practise Pandas

![titanic](https://userscontent2.emaze.com/images/a5f68f37-6349-4065-a1fc-921cbe7401b2/958230111417e36d6b3c67ffd7bc3494.jpeg)

First of all, import the needed libraries.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
# you will have to import two other libraries along the exercise

1. Read in filename and call the variable `titanic`
    - Explore the `titanic` dataset using `info`, `dtypes` & `describe`

In [5]:
filename = "titanic.csv"

In [6]:
#your code
titanic = pd.read_csv(filename)
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 107.4+ KB

2. Print the output of `people` showing the first three rows and the last four rows, separately.

In [4]:
#your code

3. Create a separate dataframe with the columns `['name', 'sex', 'age']`, call it `people`

In [5]:
#your code

4. Slice the row from 3 to 9, call it `s_titanic`

In [6]:
#your code

5. Slice the row from 40 to 63 in reverse order, call it `s_titanic_rev`

In [7]:
#your code

6. Slice the columns from the starting column to `"parch"`, call it `left_columns`

In [8]:
#your code

7. Slice the columns from `'name'` to `'age'`, call it `middle_columns`

In [9]:
#your code

8. Slice the columns from `'ticket'` to the end, call it `right_columns`

In [10]:
#your code

9. What is the name of the oldest person who died in the Titanic? Was he or she travelling alone or had any family travelling with them?

In [11]:
#your code

10. Create the list of 5 random numbers of rows from 0 to the lenght of the dataframe, call it `rows`

ex. `rows = [3,7,99,52,48]` use `random` library

In [12]:
#your code

11. Create the list of three column labels, call it `cols`

In [13]:
#your code

12. Use both lists `rows` and `cols` to create a new dataframe

In [14]:
#your code

13. Create a boolean array with the condition of being a woman or a man, using the `sex` column, where **female** is True

Bonus: Rename the column `"sex"` to `"gender"`

In [15]:
#your code

14. Filter the `titanic` dataframe with the boolean array, call it `woman_titanic`

In [16]:
#your code

15. How many woman were younger than 18? Call the variable `minor_wo`

In [17]:
#your code

16. How many woman that were less than 18 actually died? Call the variable `dead_wo`

In [18]:
#your code

17. Drop rows with *Nan* in `titanic` with how='any' and print the shape

In [19]:
#your code

18. Drop rows with *Nan* in `titanic` with how='all' and print the shape

In [20]:
#your code

19. Drop columns in `titanic` with more than 1000 missing values

In [21]:
#your code

20. Calculate the ratio of missing values at the `cabin` column. 

ex. "62.87% of the data in the column `boat` are null"

In [22]:
#your code

21.  Group `titanic` by `'pclass'` and aggregate by the columns `age` & `fare`, by `max` and `median` --> `by_class`

In [23]:
#your code

22. Print the maximum age in each class from `by_class`

In [24]:
#your code

23. Print the median fare in each class from `by_class`

In [25]:
#your code

24. Using `.pivot_table()` to count how many women or men survived by class --> `counted`

In [26]:
#your code

25. Add a new column with the sum of survived men and women --> `counted['total']`

In [27]:
#your code

26. Sort `counted` by the `'total'` column. In which class the people survived the more?

In [28]:
#your code

27. Please, show only the rows using a mask with the following conditions: 
    - They are woman
    - From third class
    - Younger than 30
    - They survived
    
    ¿How many rows fulfill the condition?

In [29]:
#your code

28. Now, show only the rows using `.loc` with the following conditions: 
    - They are man
    - From first class
    - Older than 50
    - They died
    
    ¿How many rows fulfill the condition?

In [30]:
#your code

29. Print the uniques values at the column `"name"`

In [31]:
#your code

30. Find if was there any `"name"` repeated at the Titanic?

Hint: There were two people with the same name, who?

In [32]:
#your code

31. Using `matplotlib` find the appropriate visualization to show the distribution of the column `"age"`

In [33]:
#your code

32. Using `matplotlib` find the appropriate plot to visualize the column `"gender"`

In [34]:
#your code

32b. What if you also plot the column `"gender"` using the function [`countplot`](https://seaborn.pydata.org/generated/seaborn.countplot.html) from the library [`seaborn`](https://seaborn.pydata.org/)?

Remember you have never used `seaborn` before, therefore you should install it before importing it.

In [35]:
#your code

33. Using the function [`catplot`](https://seaborn.pydata.org/generated/seaborn.catplot.html) from the library `seaborn`, find out if the hypothesis *"Women are more likely to survive shipwrecks"* is true or not.

You should get something like this:

![catplot](catplotgen.png)

In [36]:
#your code

34. Using [`kdeplot`]("https://seaborn.pydata.org/generated/seaborn.kdeplot.html") from `seaborn` represent those who not survived distributed by age.

Hint: First you should "filter" the `titanic` dataset where the column "survived" is 0, indexing the column `"age"` only.

Arguments you should pass to the function: 

    - color = "red"
    - label = "Not Survived"
    - shade = True
    
You should get something like this:

![kdeplot](kdeplotsur.png)

In [37]:
#your code