In [1]:
import pandas as pd

df2 = pd.DataFrame(data=["rojo", "azul", "negro"])

df2

       0
0   rojo
1   azul
2  negro

In [2]:
pd.get_dummies(df2)

   0_azul  0_negro  0_rojo
0       0        0       1
1       1        0       0
2       0        1       0