In [7]:
import pandas as pd
flask_get_url = "http://127.0.0.1:6060/api/test/?id=99"

df = pd.read_json(flask_get_url)
df

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

http://34.229.137.164:5075/

ec2-34-229-137-164.compute-1.amazonaws.com