### Turnos de grupos

Durante el jueves se realizarán a las presentaciones de los grupos a partir de las 9:10 am.

In [11]:
# ['D', 'C', 'B', 'A']

import random, pandas, numpy 

grupos = ["A", "B", "C", "D"]

random.shuffle(grupos)
grupos

['C', 'D', 'B', 'A']

### Turnos individuales

Durante el viernes se empezarán a realizar las presentaciones de los proyectos individuales a partir de las 9:10 am.

In [13]:
lista_alumnos = [["Jalex", 6, 47, 1.80], ["Tomas", 5, 31, 1.80], ["David", 6, 39, 1.81], ["Natalio", 2, 29, 1.73], ["Monica", 3, 47, 1.73], ["Roxanna", 4,24,1.75], ["Filipa", 5,34,1.64], ["Elsa", 4, 36, 1.89], ["Cristina", 3, 46, 1.70], ["Alba", 3, 29, 1.68], ["Valeria",1, 40, 1.60], ["Jose Luis", 4, 47, 1.69], ["Rochi", 2, 38, 1.60], ["Jose Maria", 5, 51, 1.75]]

nombre_alumnos = []

for x in lista_alumnos:
    nombre_alumnos.append(x[0])

random.shuffle(nombre_alumnos)

In [15]:
nombre_alumnos2 = [x[0] for x in lista_alumnos]
nombre_alumnos2

['Jalex',
 'Tomas',
 'David',
 'Natalio',
 'Monica',
 'Roxanna',
 'Filipa',
 'Elsa',
 'Cristina',
 'Alba',
 'Valeria',
 'Jose Luis',
 'Rochi',
 'Jose Maria']

In [14]:
nombre_alumnos

['David',
 'Valeria',
 'Natalio',
 'Alba',
 'Elsa',
 'Tomas',
 'Roxanna',
 'Cristina',
 'Rochi',
 'Jose Luis',
 'Jose Maria',
 'Jalex',
 'Monica',
 'Filipa']